{% extends "base.html" %}
{% block body %}
	<div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Lotta-CNC</h2>
          <p>How to use Lotta-CNC and how to work around serial connectivity problems</p>
          <p><a class="btn btn-default disabled" href="#" role="button">View details (TODO) »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Lotta G-codes</h2>
          <p>All the G-codes we've found that Lotta can actually use.
          	Here we've documented the regular easy G-codes and Lotta specific extended G-codes.</p>
          <p><a class="btn btn-default disabled" href="#" role="button">View details (TODO) »</a></p>
       </div>
        <div class="col-md-4">
          <h2>Machining guides</h2>
          <p>Collection of how to basic things such as positioning, clamping and facing.</p>
          <p><a class="btn btn-default disabled" href="#" role="button">View details (TODO) »</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2>CNC course slides</h2>
          <p></p>
          <p><a class="btn btn-default disabled" href="#" role="button">View details (TODO) »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Fusion 360 course material</h2>
          <p></p>
          <p><a class="btn btn-default disabled" href="#" role="button">View details (TODO) »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Mastercam learning material</h2>
          <p></p>
          <p><a class="btn btn-default disabled" href="#" role="button">View details (TODO) »</a></p>
        </div>
      </div>
    </div>
{% endblock %}